section#header {
    height: 15vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

header {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 75%;
}

.logo > img {
    height: 100%;
    width: auto;
}

.contact {
    display: flex;
    padding: 16px 33px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    background: #7A9CA5;
    cursor: pointer;
    transition: all .25s ease-in-out;
    border-radius: 2px;
}

.contact:hover {
    box-shadow: -2px 2px 10px rgba(68, 68, 68, .4);
}

.action {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #555;
    font-family: Manrope, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-right: 18px;
}

.tab > * {
    padding: 18px;
}

.tab-item:hover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .15);
    transition: all .25s ease-in-out;
}

.tab > a {
    color: #555;
}

.contact > span {
    color: #FFF;
    text-align: center;
    font-family: Manrope, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 17.5px */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.dropdown-menu {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 1;
}


.dropdown-menu > .content {
    text-align: center;
    display: none;
    position: absolute;
    margin-top: 15px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
    padding: 0;
}

.item {
    list-style: none;
    padding: 20px;
}

.divider {
    height: 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divider::after {
    content: "";
    height: 100%;
    width: 80%;
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.dropdown-menu:hover > .content {
    display: block;
    animation: fadeIn .25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
