---
title: 天津大学-深度强化学习实验室
layout: default
permalink: /
custom_css:
- /assets/css/main-poster.css
- /assets/css/news.css
- /assets/css/research.css
---
<script>
  // Variables to store initial mouse position and banner position
  let initialMouseX, initialMouseY, initialBannerX, initialBannerY;

  // Function to create the banner element
  function createBanner() {
    let banner = document.createElement("div");
    banner.id = "recruitmentBanner";
    banner.style.position = "fixed";
    if (document.body.clientWidth < 768) {
      banner.style.top = "60vh"; // Update the top offset to 20vh
    } else {
      banner.style.top = "20vh"; // Update the top offset to 20vh
    }
    banner.style.right = "20px"; // Update the right offset to 20px
    banner.style.backgroundColor = "#EBF3F5";
    banner.style.color = "#333";
    banner.style.padding = "15px"; // Update the padding to 15px
    banner.style.width = "{{ site.data.config.main_page.recruitment.width }}px";
    banner.style.borderRadius = "5px";
    banner.style.zIndex = "999";
    banner.style.cursor = "move"; // Set cursor to "move" to indicate draggability
    banner.style.boxShadow = "0px 2px 5px rgba(0, 0, 0, 0.2)";
    banner.style.opacity = "0"; // Initially set to transparent
    banner.style.transition = "opacity 0.3s ease-in-out"; // Add the transition effect here

    let closeButton = document.createElement("span");
    closeButton.style.position = "absolute";
    closeButton.style.top = "5px";
    closeButton.style.right = "5px";
    closeButton.style.fontSize = "16px";
    closeButton.style.cursor = "pointer";
    closeButton.textContent = "×";
    closeButton.addEventListener("click", hideBanner);

    let bannerText = document.createElement("p");
    bannerText.innerHTML = `{{ site.data.config.main_page.recruitment.content }}`;
    bannerText.style.margin = "0"; // Remove margin from the <p> element

    banner.appendChild(closeButton);
    banner.appendChild(bannerText);

    // Make the banner draggable
    banner.addEventListener("mousedown", startDragging);
    banner.addEventListener("touchstart", startDragging);

    return banner;
  }

  function convertTopToPx(topValue) {
    // Check if the topValue ends with 'vh'
    if (topValue.endsWith('vh')) {
      const vhValue = parseFloat(topValue); // Parse the numeric value of vh
      // Convert vh to px
      return (vhValue * window.innerHeight) / 100;
    }

    // If the topValue does not end with 'vh', assume it's already in 'px'
    return parseFloat(topValue);
  }

  function rightToLeft(rightValue) {
    rightValue = parseInt(rightValue)
    const containerWidth = window.innerWidth // Get the container's width (the body width in this case)
    return containerWidth - rightValue;
  }

  function leftToRight(leftValue) {
    leftValue = parseInt(leftValue)
    const containerWidth = window.innerWidth // Get the container's width (the body width in this case)
    return containerWidth - leftValue;
  }

  // Function to start dragging the banner
  function startDragging(event) {
    console.log(event)
    if (event.type === "mousedown") {
      // For mouse events
      initialMouseX = event.clientX;
      initialMouseY = event.clientY;
    } else if (event.type === "touchstart") {
      // For touch events
      initialMouseX = event.targetTouches[0].clientX;
      initialMouseY = event.targetTouches[0].clientY;
    }
    const banner = document.getElementById("recruitmentBanner");
    initialBannerX = rightToLeft(banner.style.right) || 0;
    initialBannerY = convertTopToPx(banner.style.top) || 0;

    document.addEventListener("mousemove", dragBanner);
    document.addEventListener("mouseup", stopDragging);
    document.addEventListener("touchmove", dragBanner, {passive: false});
    document.addEventListener("touchend", stopDragging);
  }

  // Function to drag the banner
  function dragBanner(event) {
    event.preventDefault()
    let currentMouseX, currentMouseY;
    if (event.type === "mousemove") {
      // For mouse events
      currentMouseX = event.clientX;
      currentMouseY = event.clientY;
    } else if (event.type === "touchmove") {
      // For touch events
      currentMouseX = event.targetTouches[0].clientX;
      currentMouseY = event.targetTouches[0].clientY;
    }

    const offsetX = currentMouseX - initialMouseX;
    const offsetY = currentMouseY - initialMouseY;

    const banner = document.getElementById("recruitmentBanner");
    banner.style.right = `${leftToRight(initialBannerX + offsetX)}px`;
    banner.style.top = `${initialBannerY + offsetY}px`;
  }


  // Function to stop dragging the banner
  function stopDragging() {
    document.removeEventListener("mousemove", dragBanner);
    document.removeEventListener("mouseup", stopDragging);

    document.removeEventListener("touchmove", dragBanner);
    document.removeEventListener("touchend", stopDragging);
  }

  // Function to show the banner with animation
  function showBanner() {
    var banner = document.getElementById("recruitmentBanner");
    if (!banner) {
      banner = createBanner();
      document.body.appendChild(banner);
    }
    banner.style.opacity = "1"; // Change opacity to 1 to trigger the transition
  }

  // Function to hide the banner with animation
  function hideBanner() {
    let banner = document.getElementById("recruitmentBanner");
    if (banner && banner.style.opacity === "1") {
      banner.style.opacity = "0"; // Change opacity to 0 to trigger the transition
    }
    setTimeout(() => {
      banner.style.display = "none";
    }, 250)
  }

  {% if site.data.config.main_page.recruitment and site.data.config.main_page.recruitment != "" %}
  // Show the banner when the DOM is loaded
  document.addEventListener("DOMContentLoaded", showBanner);
  {% endif %}
</script>

<section id="poster">
    <div class="slogan">
        <div class="slogan-area">
            <div class="slogan-title">
                <span>Tianjin University</span>
                <div style="white-space: nowrap">
                    <span class="strong">
                        Deep Reinforcement-
                    </span>
                </div>
                <div>
                    <span class="strong">Learning</span>
                    Laboratory
                </div>
            </div>
            <div class="slogan-content {% if site.data.config.main_page.balance_wrap %}balance-warp{% endif %}">
                {{ site.data.config.main_page.desc }}
            </div>
        </div>
    </div>
    <div class="poster-background">
        <div class="poster-background-box">
            <div class="poster-image"
                 style="background-image: url('{{ site.data.config.main_page.poster }}')"></div>
        </div>
    </div>
</section>
<section id="news">
    <div class="news-title">
        <span>News</span>
    </div>
    <div class="news-content">
        {% assign sorted_news = site.data.news | sort: 'date' | reverse %}
        {% for news in sorted_news limit: site.data.config.main_page.news %}
            <div class="news-item">
                <div class="news-icon">
                    {% if news.google_icon %}
                        <i class="material-symbols-outlined" style="font-size: 3rem">{{ news.google_icon }}</i>
                    {% elsif news.icon %}
                        <div class="news-image {% if news.invert %}invert{% endif %}"
                             style="background-image: url('{{ news.icon }}')"></div>
                    {% else %}
                        <i class="material-icons" style="font-size: 3rem">event</i>
                    {% endif %}
                </div>
                <div class="news-text">
                    <div class="news-text-title">
                        {{ news.date | date: "%b %e, %Y" }} - {{ news.title }}
                    </div>
                    <div class="news-text-desc">
                        {{ news.desc }}
                    </div>
                </div>
            </div>
            {% unless forloop.last %}
                <div class="news-divider"></div>
            {% endunless %}
        {% endfor %}
    </div>
    <div class="news-more" onclick="window.location.href='{{ site.baseurl }}news'">
        READ MORE
    </div>
</section>
<section id="research">

    <script>

      let go = (event) => {
        ;
        if (!event.target.classList.contains("banner")) {
          window.open(event.currentTarget.dataset.url)
        }
      }

      window.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".research-card").forEach(input => {
          input.addEventListener("click", go);
        });
      })

    </script>

    <div class="research-title">
        Recent Research
    </div>
    <div class="research-cards">
        {% assign sorted_post = site.posts | sort: 'data' | reverse %}
        {% for post in sorted_post limit: site.data.config.main_page.post %}
            <div class="research-card" data-url="{{ site.baseurl }}{{ post.url }}">
                <div class="research-image"
                     style="background-image: url('{% if post.internal %}{{ site.baseurl }}{% endif %}{{ post.poster }}');
                         {% if post.contain_poster %}
                                 background-size:contain;
                         {% endif %}">
                </div>
                <div class="research-body">
                    <div class="research-card-title">
                        {{ post.title }}
                    </div>
                    <div class="research-card-desc">
                        {{ post.date | date: "%Y-%m-%d" }}: {{ post.excerpt }}
                    </div>
                    <div class="research-card-action">
                        {% for link in post.links %}
                        <a target="_blank" href="{{ link.link }}" class="banner">{{ link.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="research-more" onclick="window.location.href='{{ site.baseurl }}research'">
        READ MORE
    </div>
</section>
