---
layout: default
title: Conference
permalink: /publications/
custom_css:
- /assets/css/publications.css
- /assets/css/news.css
---

<div class="content">

    <script>
      const filterInputs = document.querySelectorAll(".filter-input");

      // Add event listener to each input element
      filterInputs.forEach(input => {
        input.addEventListener("change", filterChange);
      });

      // Event handler function
      let filterChange = (event) => {
        let checkbox = event.target;
        let year = checkbox.value;
        let elements = document.querySelectorAll(`[data-year="${year}"]`);
        if (checkbox.checked) {
          elements.forEach(element => {
            element.style.display = "block";
          });
        } else {
          elements.forEach(element => {
            element.style.display = "none";
          });
        }
      }
    </script>

    {% assign publications = site.data.conference %}

    <div class="filter-card">
        <div class="card">
            <div class="card-content">
                {% comment %}<div class="filter-title">{% endcomment %}
                    {% comment %}Year:{% endcomment %}
                {% comment %}</div>a{% endcomment %}
                <form id="year-filter-form" class="grid-container">
                    {% assign current_year = "" %}
                    {% assign sorted_publications = publications %}
                    {% for publication in sorted_publications %}
                        {% assign year = publication.date %}
                        {% if year != current_year %}
                            {% assign nYear = year | plus: 0 %}
                            {% if current_year == -1 %}
                                {% continue %}
                            {% endif %}
                            {% if nYear >= site.data.config.publications.previous %}
                                <label>
                                    <input checked onchange="filterChange(event)" type="checkbox"
                                           class="filled-in year-checkbox"
                                           value="{{ year }}"/>
                                    <span>{{ year }}</span>
                                </label>
                                {% assign current_year = year %}
                            {% else %}
                                <label>
                                    <input checked onchange="filterChange(event)" type="checkbox"
                                           class="filled-in year-checkbox"
                                           value="previous"/>
                                    <span>Previous</span>
                                </label>
                                {% assign current_year = -1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <!-- Add more year options as needed -->
                </form>
            </div>
        </div>
    </div>


    {% assign current_year = "" %}
    {% assign sorted_publications = publications %}
    {% for publication in sorted_publications %}
        {% assign year = publication.date %}
        {% if year != current_year %}
            {% assign nYear = year | plus: 0 %}
            {% if current_year != "previous" %}
                {% if nYear >= site.data.config.publications.previous %}
                    <h1 data-year="{{ year }}">{{ year }}</h1>
                    {% assign current_year = year %}
                {% else %}
                    <h1 data-year="previous">Previous</h1>
                    {% assign current_year = "previous" %}
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="journey-item" data-year="{{ current_year }}">
            <h3 class="publication-title">
                {% if site.data.config.publications.show_index %}
                    {{ forloop.index }}.
                {% endif %}
                {{ publication.name }}
            </h3>
            <span class="publication-source">{{ publication.from }}</span>
            <span class="publication-authors">{{ publication.authors }}</span>
            {% if publication.links %}
                <div class="publication-action">
                    {% for link in publication.links %}
                        <a href="{{ link.url }}" target="_blank" class="link-item">{{ link.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
