---
layout: default
title: Research
permalink: /research/
custom_css:
- /assets/css/research.css
---
<section id="research">
    <div class="research-title">
        Recent Research
    </div>

    <script>

      let go = (event) => {
        ;
        if (!event.target.classList.contains("banner")) {
          window.open(event.currentTarget.dataset.url)
        }
      }

      window.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".research-card").forEach(input => {
          input.addEventListener("click", go);
        });
      })

    </script>

    <div class="research-cards">
        {% assign sorted_post = site.posts | sort: 'date' | reverse %}
        {% for post in sorted_post %}
            <div class="research-card" data-url="{{ site.baseurl }}{{ post.url }}">
                <div class="research-image"
                     style="background-image: url('{% if post.internal %}{{ site.baseurl }}{% endif %}{{ post.poster }}');
                     {% if post.contain_poster %}
                             background-size:contain;
                     {% endif %}">
                </div>
                <div class="research-body">
                    <div class="research-card-title">
                        {{ post.title }}
                    </div>
                    <div class="research-card-desc">
                        {{ post.date | date: "%Y-%m-%d" }}: {{ post.excerpt }}
                    </div>
                    <div class="research-card-action">
                        {% for link in post.links %}
                            <a target="_blank" href="{{ link.link }}" class="banner">{{ link.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
