---
layout: default
title: Software
permalink: /software
custom_css:
- /assets/css/research.css
---
<section id="research">
    <div class="research-title">
        {{ page.title }}
    </div>

    <div class="research-cards">
        {% assign sorted_post = site.data.software | sort: 'date' | reverse %}
        {% for post in sorted_post %}
            <div class="research-card" style="cursor: auto">
                <div class="research-image"
                     style="background-image: url('{% if post.internal %}{{ site.baseurl }}{% endif %}{{ post.poster }}');
                     {% if post.contain_poster %}
                             background-size:contain;
                     {% endif %}">
                </div>
                <div class="research-body">
                    <div class="research-card-title">
                        {{ post.title }}
                    </div>
                    <div class="research-card-desc">
                        {{ post.date | date: "%Y-%m-%d" }}: {{ post.excerpt }}
                    </div>
                    <div class="research-card-action">
                        {% for link in post.links %}
                            <a target="_blank" href="{{ link.link }}" class="banner">{{ link.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
