<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
    <title>{{ page.title }}</title>
    {% if page.materializedCss %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endif %}
    <link rel="stylesheet"
          href="https://fonts.loli.net/css?family=Manrope">
    <link rel="stylesheet"
          href="https://fonts.loli.net/css?family=Merriweather:900,900italic,300,300italic">
    <link href="https://fonts.loli.net/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.loli.net/css?family=Playfair+Display:400,900">
    <style>
        body {
            cursor: default;
            padding: 0;
            margin: 0;
            background-color: #f0f0f0;
        }
    </style>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header.css">
    {% if page.custom_css %}
        {% for css_file in page.custom_css %}
            <link rel="stylesheet" href="{{ site.baseurl }}{{ css_file }}">
        {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/footer.css">
    {% if page.layout == 'post' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css">
    {% endif %}

    {% if page.layout == 'ibbb' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/news.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/publications.css">
    {% endif %}

</head>
<body>
<script>
  // Wait for the DOM to fully load
  document.addEventListener("DOMContentLoaded", () => {
    // JavaScript code to select all <a> tags with class != "inner"
    const anchorTagsWithoutInnerClass = document.querySelectorAll('a:not(.inner)');

    // Loop through the selected anchor tags and add the target="_blank" attribute
    anchorTagsWithoutInnerClass.forEach(anchor => {
      anchor.setAttribute('target', '_blank');
    });
  });

</script>
<section id="header">
    <header>
        <div class="logo">
            <img src="{{ site.baseurl }}/assets/image/logo.png" alt=""/>
        </div>
        <div class="action">
            <div class="tab">
                <a class="tab-item inner" href="{{ site.baseurl }}/">HOME</a>
                <div class="dropdown-menu">
                    <span class="text">PUBLICATIONS</span>
                    <div class="content">
                        <div onclick="window.location.href ='{{ site.baseurl }}/conference'" class="tab-item item">CONFERENCE</div>
                        <div class="divider"></div>
                        <div onclick="window.location.href ='{{ site.baseurl }}/journey'" class="tab-item item">JOURNEY</div>
                    </div>
                </div>
                <a class="tab-item inner" href="{{ site.baseurl }}/research">RESEARCH</a>
                <a class="tab-item inner" href="{{ site.baseurl }}/software">SOFTWARE</a>
                <a class="tab-item inner" href="{{ site.baseurl }}/team">TEAM</a>
                <a class="tab-item inner" href="{{ site.baseurl }}/ibbb">IBBB</a>
                <a class="tab-item inner" href="{{ site.baseurl }}/events">EVENTS</a>
                <a class="tab-item inner" href="{{ site.baseurl }}/contact">CONTACT</a>
            </div>
            <div style="display: none" class="contact" onclick="window.location.href='{{ site.baseurl }}/contact'">
                <span>Contact Us</span>
            </div>
            <div class="thin-menu">
                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="menu-btn">
                    <i class="material-icons">menu</i>
                </label>
                <ul class="menu">
                    <li><a class="inner" href="{{ site.baseurl }}/">HOME</a></li>
                    <li><a class="inner" href="{{ site.baseurl }}/conference">CONFERENCE</a></li>
                    <li><a class="inner" href="{{ site.baseurl }}/journey">JOURNEY</a></li>
                    <li><a class="inner" href="{{ site.baseurl }}/research">RESEARCH</a></li>
                    <li><a class="inner" href="{{ site.baseurl }}/software">SOFTWARE</a></li>
                    <li><a class="inner" href="{{ site.baseurl }}/team">TEAM</a></li>
                    <li><a class="inner" href="{{ site.baseurl }}/ibbb">IBBB</a></li>
                    <li><a class="inner" href="{{ site.baseurl }}/events">EVENTS</a></li>
                    <li><a class="inner" href="{{ site.baseurl }}/contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </header>
</section>
{{ content }}
<section id="footer">
    <div class="footer-body">
        <div class="footer-body-holder">
            <div class="logos">
                <div class="logo" style="background-image: url('{{ site.baseurl }}/assets/image/logo-white.png');"></div>
                <div class="text">
                <span class="strong">
                    <span class="light-blue">Deep</span>
                    Reinforcement- Learning
                </span>
                    Laboratory
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-actions">
                <div class="action-item extra-margin">
                    <div class="action-title">
                        Contact Us
                    </div>
                    <div class="action-body action-item">
                        <table style="border-spacing: 14px;border-collapse: collapse;user-select: text">
                            <tr>
                                <td style="width: 120px;vertical-align: top" >
                                    <i class="material-icons">location_on</i>
                                </td>
                                <td style="width: 550px;vertical-align: top">
                                    天津市津南区海河教育园区雅观路135号天津大学软件学院55号楼A区
                                </td>
                            </tr>
                            <tr>
                                <td style="display: flex; align-items: center"><i class="material-icons">mail</i></td>
                                <td>
                                    <a class="hover-blue" href="mailto:jianye.hao@tju.edu.cn"
                                       style="color: white;text-decoration: underline;">
                                        jianye.hao@tju.edu.cn
                                    </a>
                                </td>
                            </tr>
                            <tr style="display: none">
                                <td>Phone:</td>
                                <td>(+22) 123 - 4567 - 900</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>©️ TIANJIN UNIVERSITY-DEEP REINFORCEMENT LEARNING LAB</span>
        <span style="margin-left: 25px;">ALL RIGHTS RESERVED</span>
    </div>
</section>
</body>
</html>
