<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet"
          href="https://fonts.loli.net/css?family=Manrope">
    <link rel="stylesheet"
          href="https://fonts.loli.net/css?family=Playfair+Display:400,900">
    <style>
        body {
            padding: 0;
            margin: 0;
            background-color: #f0f0f0;
        }
    </style>
    <link rel="stylesheet" href="default/default-header.css">
    <link rel="stylesheet" href="default/main-poster.css">
    <link rel="stylesheet" href="default/news.css">
</head>
<body>
<section id="header">
    <header>
        <div class="logo">
            <img src="default/logo.png" alt=""/>
        </div>
        <div class="action">
            <div class="tab">
                <a class="tab-item" href="/">Home</a>
                <div class="dropdown-menu">
                    <span class=" text">Publications</span>
                    <div class="content">
                        <div class="tab-item item">Conference</div>
                        <div class="divider"></div>
                        <div class="tab-item item">Journey</div>
                    </div>
                </div>
                <a class="tab-item" href="/research">Research</a>
                <a class="tab-item" href="/team">Team</a>
                <a class="tab-item" href="/ibbb">IBBB</a>
                <a class="tab-item" href="/photos">Photos</a>
            </div>
            <div class="contact">
                <span>Contact Us</span>
            </div>
        </div>
    </header>
</section>
<section id="poster">
    <div class="slogan">
        <div class="slogan-area">
            <div class="slogan-title">
                <span>Tianjin University</span>
                <div style="white-space: nowrap">
                    <span class="strong">
                        <strong class="blue">Deep</strong> Reinforcement-
                    </span>
                </div>
                <div>
                    <span class="strong">Learning</span>
                    Laboratory
                </div>
            </div>
            <div class="slogan-content">
                There are many variation of passages are Ipsum available, majority have suffered alteration in some
                form.
            </div>
        </div>
    </div>
    <div class="poster-background">
        <div class="poster-background-box">
            <div class="poster-image"
                 style="background-image: url('./default/poster.png')"></div>
        </div>
    </div>
</section>
<section id="news">
    <div class="news-title">
        <span>News</span>
    </div>
    <div class="news-content">
        <div class="news-item">
            <div class="news-icon">
                <div class="news-image" style="background-image: url('https://via.placeholder.com/82x37')"></div>
            </div>
            <div class="news-text">
                <div class="news-text-title">
                    May 5 2023 - Three papers accepted by ICML 2023:
                </div>
                <div class="news-text-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend semper quam, eu pharetra mi
                    congue a. Aenean gravida velit vitae diam rhoncus, at auctor justo sagittis. Nam a odio mi. Nullam
                    cursus nisi nec tincidunt eleifend. In rhoncus gravida metus, in lobortis neque bibendum a.
                    Suspendisse dictum blandit velit, nec tincidunt sem fringilla ut. Curabitur maximus tellus vitae
                    nunc rutrum, non dictum felis auctor. Duis fringilla ut nisi vel luctus. In hac habitasse platea
                    dictumst.
                </div>
            </div>
        </div>
        <div class="news-divider"></div>
        <div class="news-item">
            <div class="news-icon">
                <div class="news-image" style="background-image: url('https://via.placeholder.com/82x37')"></div>
            </div>
            <div class="news-text">
                <div class="news-text-title">
                    May 5 2023 - Three papers accepted by ICML 2023:
                </div>
                <div class="news-text-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend semper quam, eu pharetra mi
                    congue a. Aenean gravida velit vitae diam rhoncus, at auctor justo sagittis. Nam a odio mi. Nullam
                    cursus nisi nec tincidunt eleifend. In rhoncus gravida metus, in lobortis neque bibendum a.
                    Suspendisse dictum blandit velit, nec tincidunt sem fringilla ut. Curabitur maximus tellus vitae
                    nunc rutrum, non dictum felis auctor. Duis fringilla ut nisi vel luctus. In hac habitasse platea
                    dictumst.
                </div>
            </div>
        </div>
    </div>
    <div class="news-more">
        READ MORE
    </div>
</section>
<div style="height:300px;width:150px;"></div>
</body>
</html>
