section#poster {
    height: 85vh;
    width: 100%;
    position: relative;
    transition: all .25s ease-in-out;
}

:root {
    --left-part-width: 70vw;
    --image-padding: 30px;
    --image-size: 50vh;
}


.slogan {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--left-part-width);
    background-color: #EBF3F5;
}

.poster-background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100vw - var(--left-part-width));
    background-size: cover;
    background: #1E2C30 url('materail.png') no-repeat;
    background-blend-mode: luminosity;
}

.poster-background-box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(var(--image-size) / 2);
    height: var(--image-size);
    border: 10px solid #FFF;
    box-shadow: 0 20px 60px 0 rgba(47, 68, 73, 0.46);
    border-left: none;
    padding: var(--image-padding);
}

.poster-image {
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100% - 2 * var(--image-padding));
    width: var(--image-size);
    transform: translate(calc(var(--image-padding) * -1), 0);
    box-shadow: 0 20px 60px 0 rgba(47, 68, 73, 0.46);
}

.slogan-area {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);

}

.slogan-content {
    width: 75%;
    margin-top: 24px;
    color: #555;
    font-family: Manrope, ui-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.slogan-title {
    font-family: "Playfair Display", "Times New Roman", ui-serif;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: -0.7px;
}

.strong {
    font-weight: 700;
    display: inline;
}

.blue {
    display: inline;
    white-space: nowrap;
    color: #00518E;
}


@media screen and (max-width: 1440px) {
    :root {
        transition: --left-part-width .25s ease-in-out;
        --left-part-width: 75vw;
    }
}

@media screen and (max-width: 1300px) and (min-width: 1120px) {
    :root {
        transition: all .25s ease-in-out;
        --left-part-width: 60vw;
    }

    .poster-image {
        display: none;
    }

    .poster-background {
        background-color: #a9ccd5;
    }

    .poster-background-box {
        box-shadow: none;
    }

    .slogan-area {
        left: 70%;
        z-index: 10;
    }

}


@media screen and (max-width: 1120px) {
    :root {
        --left-part-width: 100vw;
    }

    .poster-background {
        display: none;
    }

    .slogan-area {
        left: 50%;
    }
}
