section#news {
    width: 100%;
    padding: 50px 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-title {
    color: #141414;
    text-align: center;
    font-family: Playfair Display, ui-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 58.5px */
    letter-spacing: -0.45px;
}

.news-item {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    display: inline-flex;
}

.news-text {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

}

.news-text-title {
    color: #141414;
    font-size: 24px;
    font-family: Playfair Display, ui-serif;
    font-weight: 700;
    line-height: 29px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.news-text-desc {
    max-height: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #555555;
    font-size: 16px;
    font-family: Manrope, ui-serif;
    font-weight: 400;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-content {
    margin-top: 50px;
    width: 80%;
    max-width: 1200px;
}
